mat-dialog-content {
  min-width: 400px;
  max-width: 500px;
  padding: 20px;
}

.task-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 5px;

  .full-width {
    width: 100%;
  }
}

mat-dialog-actions {
  padding: 16px 20px;
  margin: 0;
}
